.agendacard{
	background-image: url(../images/agendaCards/agendacard.png),linear-gradient(-59.5deg, #3c3445 0%, #59466d 72%, #ffffff 72%);
    background-position: top -83px right -25px, center;
    background-size: 375px, auto;
    background-repeat: no-repeat;
}
.headergradient{
	background:linear-gradient(-23deg, #ffffff 0%, #f0f0f0 45%, #59466d 45.01%, #3c3445 100%);
	background-position:left;
}
.articleheader{
	height:400px;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	padding: 0px 0% 0px 4%;
}
.articleheadertext h1{
	font-size:60px;
	line-height: 53px;
	margin: 0px; 
}
.articleheadertext h4{
	font-size:20px;
	line-height: 20px;
	margin: 0px; 
}
.articleheadertext{
	padding: 4% 0;
	flex:1;

}
.articleheaderimage img{
	width: 435px;;
    margin-bottom: -5px;
    margin-left: 10px;
    max-width: none;
}
.articleheaderimage{
	flex: 2;
	align-self: flex-end;
}
@media (min-width:700px) {
	.articleheader{
		height:500px;
		display:flex;
		flex-direction: row;
		padding: 0px 0% 0px 5%;
	}
	.articleheaderimage img{
	width:600px;
	}
	.articleheaderimage{
	    margin-left: -100px;
	}
}
@media (min-width:900px) {
	.articleheader{
		height:600px;
		display:flex;
		flex-direction: row;
		padding: 0px 0% 0px 5%;
	}
	.articleheadertext{
		padding-top: 10%;
	}
	.articleheaderimage img{
	width: 850px;
	}
	.articleheaderimage{
    	margin-left: 0px;
	}
}
@media (min-width:1500px) {
	.articleheader{
		height:700px;
		display:flex;
		flex-direction: row;
		max-width: 1400px;
    	margin: auto;
    	padding:0;
	}
	.articleheaderimage img{
		width: 1000px !important;
	}
	.articleheaderimage{

	}
	.articleheadertext h1{
		font-size:80px;
		line-height: 73px;
		margin: 0px; 
}
}