.overviewcard{
	background: url(../images/overview/overviewcard1.png), linear-gradient(-32deg, #3c3445 0%, #59466d 55%, #ffffff 55.1%);
    background-position: right -89px  top 4px,center;
    background-size: 500px,auto;
    background-repeat: no-repeat;
}
.headergradient{
	background:linear-gradient(-54deg, #ffffff 0%, #f0f0f0 31%, #59466d 31.01%, #3c3445 100%);
	background-position:left;
}
.articleheader{
	height:400px;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	padding: 0px 0% 0px 4%;
}
.articleheadertext h1{
	font-size: 40px;
    line-height: 35px;
	margin: 0px; 
}
.articleheadertext h4{
	font-size:20px;
	line-height: 20px;
	margin: 0px; 
}
.articleheadertext{
	padding: 4% 0;
	flex:1;

}
.articleheaderimage img{
	width: 97%;
    margin-top: 19px;
    margin-left: 10px;
    max-width: none;
}
}
.articleheaderimage{
	flex: 2;
	align-self: flex-end;
}
@media (min-width:371px) {
	.articleheadertext h1{
		font-size:60px;
		line-height: 53px;
	}
}

@media (min-width:700px) {
	.headergradient{
		background:linear-gradient(-58deg, #ffffff 0%, #f0f0f0 45%, #59466d 45.01%, #3c3445 100%);
		background-position:left;
}
	.articleheader{
		height:500px;
		display:flex;
		flex-direction: row;
		padding: 0px 0% 0px 5%;
	}
	.articleheaderimage img{
	width:800px;
	}
	.articleheaderimage{
	    margin-left:-90px;
	}
}
@media (min-width:900px) {
	.articleheader{
		height:600px;
		display:flex;
		flex-direction: row;
		padding: 0px 0% 0px 5%;
	}
	.articleheadertext{
		padding-top: 10%;
	}
	.articleheaderimage img{
	width: 850px;
	}
	.articleheaderimage{
    	margin-left: 0px;
	}
}
@media (min-width:1500px) {
	.articleheader{
		height:700px;
		display:flex;
		flex-direction: row;
		max-width: 1400px;
    	margin: auto;
    	padding:0;
	}
	.articleheaderimage img{
		width: 100%;
	}
	.articleheaderimage{

	}
	.articleheadertext h1{
		font-size:80px;
		line-height: 73px;
		margin: 0px; 
}
}