.overviewcard{
	background: url(../images/overview/overviewcard1.png), linear-gradient(-32deg, #3c3445 0%, #59466d 55%, #ffffff 55.1%);
    background-position: right -89px  top 4px,center;
    background-size: 500px,auto;
    background-repeat: no-repeat;
}

.finalsheader{
	background-image: url(../images/overview/prototypeheader2.png),linear-gradient(180deg, #fafafa 0%, #eeeeee 100%);
	background-size: 120%,cover;background-repeat: no-repeat,repeat;
	background-position: top right,left;
}
.articleheader{
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url(../images/overview/overviewheader14.png),url(../images/overview/Overviewpattern.svg),linear-gradient(127deg, #3c3445 0%, #59466d 100%);
    background-size: cover,701px,cover;
    background-repeat: no-repeat,no-repeat, repeat;
    background-position:top,right -215px top -1px, bottom;
    height: 50vmin;
    min-height: 300px;
    margin: auto;
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-attachment: scroll, fixed, scroll;
}
@media (min-width:475px) {
	.finalsheader{
		background-image: url(../images/overview/prototypeheader2.png),linear-gradient(180deg, #fafafa 0%, #eeeeee 100%);
		background-size: 75%,cover;background-repeat: no-repeat,repeat;
		background-position: top right,left;
	}
}

@media (min-width:700px) {
	.finalsheader{
		background-image: url(../images/overview/prototypeheader2.png),linear-gradient(180deg, #fafafa 0%, #eeeeee 100%);
		background-size: 85%,cover;background-repeat: no-repeat,repeat;
		background-position: top right,left;
	}
	.articleheader{
		background-image: url(../images/overview/prototypeheader2.png),linear-gradient(180deg, #fafafa 0%, #eeeeee 100%);
		background: linear-gradient(90deg, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%), url(../images/overview/overviewheader14.png),linear-gradient(-45deg, #ffffff 0%, #f0f0f0 50%, #59466d 50.01%, #3c3445 100%);
	    background-size: cover,959px,contain;
	    background-repeat: no-repeat,no-repeat,no-repeat;
	    background-position: top, right -320px top, bottom;
	    height: 80vmin;
	    background-attachment: scroll, fixed, scroll;
	}
}
@media (min-width:930px) {
	.finalsheader{
		background-image: url(../images/overview/prototypeheader2.png),linear-gradient(180deg, #fafafa 0%, #eeeeee 100%);
		background-size: 65%,cover;background-repeat: no-repeat,repeat;
		background-position: top right,left;
	}
	.articleheader{
		background: linear-gradient(90deg, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%), url(../images/overview/overviewheader14.png),linear-gradient(-45deg, #ffffff 0%, #f0f0f0 50%, #59466d 50.01%, #3c3445 100%);
	    background-size: cover,959px,contain;
	    background-repeat: no-repeat,no-repeat,no-repeat;
	    background-position:top, right -320px center, bottom;
	    height: 80vmin;
	    background-attachment: scroll, fixed, scroll;
	}
}
@media (min-width:1335px) {
	.finalsheader{
		background-image: url(../images/overview/prototypeheader2.png),linear-gradient(180deg, #fafafa 0%, #eeeeee 100%);
		background-size: 55%,cover;background-repeat: no-repeat,repeat;
		background-position: top right,left;
	}
	.articleheader{
		background: url(../images/overview/overviewheader14.png), linear-gradient(-45deg, #ffffff 0%, #f0f0f0 50%, #59466d 50.01%, #3c3445 100%);
    	background-size: 1200px,cover;
	    background-repeat: no-repeat, no-repeat;
	    background-position: right -200px center, bottom;
	    height: 80vmin;
	    background-attachment: fixed, scroll;
		}
}
@media (min-width:1700px) {
	.articleheader{
		background: url(../images/overview/overviewheader14.png), linear-gradient(-45deg, #ffffff 0%, #f0f0f0 50%, #59466d 50.01%, #3c3445 100%);
		background-size: 1300px,cover;
    	background-repeat: no-repeat, no-repeat;
    	background-position: right -266px center, bottom;
    	height: 100vmin;
    	background-attachment: fixed, scroll;
	}
}
@media (min-width:2000px) {
	.articleheader{
		background: url(../images/overview/overviewheader15.png), linear-gradient(-45deg, #ffffff 0%, #f0f0f0 45%, #59466d 45.01%, #3c3445 100%);
		background-size: 1400px,cover;
    	background-repeat: no-repeat, repeat;
    	background-position: right center, bottom;
    	height: 100vmin;
    	background-attachment: fixed, scroll;
	}
}