.probcircle{
	width:100px;
	vertical-align: middle;
}
.imagesectionhead{
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height:250px;
	margin: auto;
	width: 100%;
	position: relative;
	padding:0;
}
.dark{
	background:#222222;
	min-height: 200px;
	margin:0;
	width: 100%;
}
.imagesectionheadtext{
	position: absolute;
	bottom: 0px;
	margin: 0 0 0 0!important ;
	line-height: 0px;
	font-size: 14vw;
    line-height: 7vw;
}
.imagesectionheadtext2{
	font-size: calc(60px + 12 * ((100vw - 320px) / 700));
    line-height: calc(46px + 12 * ((100vw - 320px) / 700));
}
.imagesectionheadtexttop{
	position: absolute;
	bottom: 0px;
	margin: 0 0 0 0!important ;
	font-size:20px;
	line-height:21vw;
} 
.wide{
	width:90%;
	max-width: 1800px;
	margin: auto;
}
.cardlrgtext{
	color:#ffffff;
	text-align:left;
	font-size:66px;
	line-height:64px;
	padding:20px;
	margin:0;
}
.truehalf{
	width: 100%;
  	height: auto;
  	display: inline-grid;
}
.new{
	background-color: #ff3300;
    color: #ffffff;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 12px;
    padding: 1px 3px;
    vertical-align: bottom;
}

@media (min-width:700px) {
	.truehalf{
		width: 47%;
	  	height: auto;
	  	display: inline-grid;
	  	padding: 1%;
}
	.imagesectionhead{
		height:400px;
	}
	.imagesectionheadtext{
		font-size:9vw;
		line-height: 4vw;
	}
	.imagesectionheadtext2{
		font-size:9vw;
		line-height: 7vw;
	}
	.imagesectionheadtexttop{
		font-size:30px;
		line-height:13vw;
} 
@media (min-width:1335px) {
	.imagesectionheadtext2{
		font-size:6vw;
		line-height: 5vw;
	}
}
@media (min-width:2000px) {
.imagesectionheadtext{
		font-size:122px;
		line-height:75px;
