	.grid3{
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
		height:1950px;

	}
	.item1{
		width:100%;
	}
@media (min-width:450px) {
	.grid3{
			height:1700px;
	}
}
@media (min-width:750px) {
	.grid3{
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
		height:1000px;
	}
	.item1{
		width:50%;
	}
}
@media (min-width:1000px) {
	.grid3{
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
		height:860px;
	}
}
@media (min-width: 1400px){
		.grid3{
		display:flex;
		flex-wrap:wrap;
		flex-direction:column;
		height:600px;
	}
		.item1{
		width:33.33%;
	}
}
