.grid{
	width:100%;
	display:grid;
	grid-template-columns:100%;
	grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
}
.grid2{
	width:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows: auto;
	grid-column-gap:20px;
	grid-row-gap:20px;
}
.text1{
	grid-column-start:1;
	grid-column-end:2;
}
@media (min-width:750px) {
.grid{
	width:100%;
	display:grid;
	grid-template-columns:1fr 50% ;
	grid-template-rows: 150px 150px 150px 150px 150px;
	}
.grid2{
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	grid-column-gap:20px;
	grid-row-gap:20px;
	}
.text1{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start: 1;
    grid-row-end: 2;
}
.text2{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start: 2;
    grid-row-end: 3;
}
.text3{
	grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.text4{
	grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
}
@media (min-width: 1400px){
.grid{
	width:100%;
	display:grid;
	grid-template-columns:33% 33% 33%;
	grid-template-rows: 150px 150px 150px;
	}
.grid2{
	width:100%;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-column-gap:20px;
	grid-row-gap:20px;
	}
.text1{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start: 1;
    grid-row-end: 2;
}
.text2{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start: 1;
    grid-row-end: 2;
}
.text3{
	grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.text4{
	grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
}