.homepageheader{
	width: 100%;
}
.lefthalf {
	flex: 1;
    width: 100%;
    padding: 6%;
    box-sizing: border-box;
    background: #222222;
}
.righthalf {
	width: 100%;
  	background-image: url("images/Homepage/edgecirclehori.svg"), url("images/Homepage/desk.png");
  	background-position: top, left;
    background-size:contain, cover;
    min-height: 150px;
    background-repeat: no-repeat, repeat;
}
.textboxhalf {
    width: 100%;
    padding: 6%;
    box-sizing: border-box;
}
.profile{
	border-radius:50%;
	margin: auto;
    display: flex;
}
.white{
	color:white;
	text-align:center !important;
}
.circle {
	width: 15px;
	height: 15px;
	background:#ff3300;
	border-radius: 50%;
	display: inline-block;
    margin: 6px 6px 18px;
}
.emptycircle {
	width: 15px;
	height: 15px;
	stroke:1px #999999;
	background:#666666;
	border-radius: 50%;
	display: inline-block;
    margin: 6px 6px 18px;
}
.center{
	text-align: center;
}
.section{
	padding-top: 80px;
    padding-bottom: 80px;
}
.icon{
	width: 50px;
    margin-right: 20px;
}

.skillgrid{
	width:100%;
}
.griditem1{
	position:inherit;
	width: 90%;
	float: left;
	margin-right: 20px;		
}
.griditem1a{
	display:inherit;
	position:relative;
	width: 100%;
	float: left;	
}
.griditem2{
	display:none;
}		
.griditem3{
	position:inherit;	
	max-width: 400px;
	float: left;
	margin-right: 20px;		
}
.griditem4{
	position:inherit;
	width: 90%;
	float: left;
	margin-right: 20px;		
}
.griditem4a{
	display:inherit;
	position:inherit;
	width: 100%;
	float: left;
	margin-bottom: 20px;		
}
.programgrid{
	width:100%;
	display:grid;
	grid-template-columns:100%;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}
@media (min-width: 550px){
	.lefthalf {
		flex: 1;
	    min-width: 40%;
	    min-height: 400px;
	    background:#222222;
	    padding-right: 10%;
	    padding-left: 10%;
	    padding-top: 100px;
	}
	.righthalf {
		width: 100%;
	  	background-image: url("images/Homepage/edgecircle.svg"), url("images/Homepage/desk.png");
	  	background-position:left, left;
	    background-size:contain, cover;
	    min-height: 800px;
	    background-repeat: no-repeat, repeat;
	}
	.homepageheader{
		width: 100%;
		display: flex;
		width: 100%;
		min-height: 800px;
	}
	.white{
		color:white;
		text-align:left;
		position: absolute;
	    max-width: 30%;
	}
	.profile {
	    border-radius: 50%;
	    margin: 100px  0px 0px;
	    display: flex;
	}
	.center{
	text-align: left;
	margin-bottom: 12px;
}
}
@media (min-width:750px) {
	.griditem1{
		position:inherit;
		float: left;
		width: 44%	
	}
	.griditem2{
		display: none;
	}
	.griditem4{
		position:inherit;
		float: right;
		width: 44%	
	}
	.programgrid{
		width:100%;
		display:grid;
		grid-template-columns:1fr 50% ;
		grid-template-rows: 100px 100px 100px 100px 100px;
	}
}
@media (min-width:1000px) {
	.programgrid{
		width:100%;
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows: 100px 100px 100px;
	}
}
@media (min-width: 1400px){
	.programgrid{
		width:100%;
		display:grid;
		grid-template-columns:25% 25% 25% 25%;
		grid-template-rows: 100px 100px 100px;
	}
}
@media (min-width: 1529px){
	.griditem4a{
		display:none;	
	}
	.griditem1a{
		display: none;
	}
	.griditem1{
		position:inherit;
		float: left;
		width: 30%;
    	margin-right: 20px;
	}
	.griditem2{
		display: inherit;
		position:relative;
		float: left;	
		width: 30%;
		margin: 0 12px;
	}
	.griditem4{
		position:inherit;	
		width: 30%	
	}
}