.articleheader{
	background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(images/overview/overviewheader5.png),linear-gradient(127deg, #ee2a4e 0%, #ff6f44 100%);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: right;
	height:250px;
	margin: auto;
	width: 100%;
	position: relative;
	padding:0;
}
.probcircle{
	width:20%;
	vertical-align: middle;
}
.imagesectionhead{
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height:250px;
	margin: auto;
	width: 100%;
	position: relative;
	padding:0;
}
.dark{
	background:#222222;
	min-height: 200px;
	margin:0;
	width: 100%;
}
.imagesectionheadtext{
	position: absolute;
	bottom: 0px;
	margin: 0 0 0 0!important ;
	line-height: 0px;
	font-size: 14vw;
    line-height: 7vw;
}
.wide{
	width:90%;
	max-width: 1800px;
	margin: auto;
}
.cardlrgtext{
	color:#ffffff;
	text-align:left;
	font-size:66px;
	line-height:64px;
	padding:20px;
	margin:0;
}
.workgrid{
	width:100%;
	display:grid;
	grid-template-columns:2fr 1fr;
	grid-template-rows: 400px 200px 200px;
	grid-gap:15px;
}
.workitem1{
	background-color:pink;
	background-image: url();
	background-position: top;
    background-size:cover;
    background-repeat:no-repeat;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:2;
	border-radius: 8px;
	overflow: hidden;
}
.workitem2{
	background-color:blue;
	background-position: top;
    background-size:cover;
    background-repeat:no-repeat;
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:4;
	border-radius: 8px;
	overflow: hidden;
}
.workitem3{
	background-image: url(images/overview/overviewheader3.png);
	background-color:green;
	background-position: top;
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:2;
	grid-row-end:3;
	border-radius: 8px;
}
.workitem4{
	background-image: url(images/overview/overviewheader4.png);
	background-color:orange;
	background-position: top;
    background-size:cover;
    background-repeat:no-repeat;
    overflow: hidden;
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:3;
	grid-row-end:4;
	border-radius: 8px;
}
@media (min-width:700px) {
	.articleheader{
		background: url(images/overview/overviewheader5.png),
		linear-gradient(127deg, #ee2a4e 0%, #ff6f44 100%);
		background-size:contain;
    	background-repeat:no-repeat;
    	background-position: right;
		height:400px;
	}
	.imagesectionhead{
		height:400px;
	}
	.imagesectionheadtext{
		font-size:9vw;
		line-height: 4vw;
	}
	.workgrid{
		width:100%;
		display:grid;
		grid-template-columns:2fr 1fr;
		grid-template-rows: 400px 300px 300px;
	}
	.workitem1{
		background-color:red;
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start:1;
		grid-row-end:2;
	}
	.workitem2{
		background-color:blue;
		grid-column-start:2;
		grid-column-end:3;
		grid-row-start:2;
		grid-row-end:4;
	}
	.workitem3{
		background-color:green;
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:3;
		grid-row-end:4;
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:2;
		grid-row-end:3;
	}
	.workitem4{
		background-color:orange;
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:3;
		grid-row-end:4;
	}
}
@media (min-width:1000px) {
	.workitem1{
		background-color:red;
		grid-column-start:1;
		grid-column-end:3;
		grid-row-start:1;
		grid-row-end:2;
	}
	.workitem2{
		background-color:blue;
		grid-column-start:3;
		grid-column-end:4;
		grid-row-start:1;
		grid-row-end:3;
	}
	.workitem3{
		background-color:green;
		grid-column-start:1;
		grid-column-end:2;
		grid-row-start:2;
		grid-row-end:3;
	}
	.workitem4{
		background-color:orange;
		grid-column-start:2;
		grid-column-end:3;
		grid-row-start:2;
		grid-row-end:3;
	}
	.workgrid{
		width:100%;
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows: 500px 300px;
		}
}
}