.articleheader{
	background: linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), url(images/overview/overviewheader5.png),linear-gradient(127deg, #ee2a4e 0%, #ff6f44 100%);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top,right top 34px, bottom;
	height:250px;
	margin: auto;
	width: 100%;
	position: relative;
	padding:0;
	overflow: hidden;
}
@media (min-width:700px) {
	.articleheader{
		background:linear-gradient(90deg, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 100%),
		url(images/overview/overviewheader5.png),
		linear-gradient(127deg, #ee2a4e 0%, #ff6f44 100%);
		background-size:contain;
    	background-repeat:no-repeat;
    	background-position:top, right bottom -34px, bottom;
		height:400px;
	}
}
@media (min-width:1335px) {
	.articleheader{
		background: url(images/overview/overviewheader5.png),
		linear-gradient(127deg, #ee2a4e 0%, #ff6f44 100%);
		background-size:contain;
    	background-repeat:no-repeat;
    	background-position: right bottom -34px, bottom;
		height:400px;
	}
}